.home {
  background-image: url(img/lighthouse.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 0 10px 60px 10px;
}

.title {
  padding-top: 60px;
  color: white;
  font-size: 42px;
  font-family: 'Homemade Apple', cursive, sans-serif;
  word-spacing: 10px;
}

.seperator {
  max-width: 60%;
  margin: 0 auto 30px auto;
  height: 1px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px grey;
}

.summary {
  max-width: 700px;
  margin: 0 auto 20px auto;
  color: white;
}

.title, .summary {
  text-shadow: 1px 1px 2px grey;
}

.pets-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}