@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/lighthousesm.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  margin: 0;
}

.home {
  padding: 0 10px 30px 10px;
}

.title {
  padding-top: 60px;
  color: white;
  font-size: 42px;
  font-family: 'Homemade Apple', cursive, sans-serif;
  word-spacing: 10px;
  text-align: center;
}

.seperator {
  max-width: 60%;
  margin: 0 auto 30px auto;
  height: 1px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px grey;
}

.summary {
  max-width: 700px;
  margin: 0 auto 20px auto;
  color: white;
}

.shadowed-text {
  text-shadow: 1px 1px 2px grey;
}