nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  color: white;
  background: none;
}
nav p {
  margin: 0 10px;
}